extend repoNavigation
block append content
  if codemode == 'image'
    //img(src='#{fileContent}')
    p
      = 'Image: ' + fileContent
  else
    textarea(data-codemode='#{codemode}')
      = fileContent