extend layout
block content
  each val, index in repos
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          span.glyphicon.glyphicon-folder-open
          = ' '
          a(href='/' + index)
            strong= index
      .panel-body
         = val
