doctype html
html(lang='en')
  head
    title #{title} - GitList.js
    link(rel='stylesheet', href='style/base.css')
  body
    header
      h1 GitList.js
    .container
      block content
    footer
      p Running on Node.js with Express and Jade
