doctype html
html(lang='en')
  head
    title #{title} - GitList.js
    link(rel='stylesheet', href='/scripts/vendor/bootstrap/dist/css/bootstrap.min.css')
  body
    .navbar.navbar-scroll-top.navbar-inverse
      .navbar-inner
        .container
          a(class='navbar-brand', href='/')= "GitList.js"
    .container
      block content
    footer
      .container
        p Running on Node.js with Express and Jade
    script(src='/scripts/vendor/jquery/jquery.min.js')
    script(src='/scripts/vendor/bootstrap/dist/js/bootstrap.min.js')
