extend repoNavigation
block append content
  each val, index in commits
    .panel.panel-default
      .panel-heading
        h3.panel-title
          = index
      .panel-body
        .list-group
          each com, treeish in val
            .list-group-item
              a(href='/' + reponame + '/commit/' + treeish, class='pull-right btn btn-default')= 'View ' + treeish.substr(0,7)
              p.list-group-item-text
                strong= com.msg
              p.list-group-item-text
                a(href='mailto:' + com.author.email)
                  = com.author.name
                = ' authored on ' + com.date
  ul.pagination
    - var yp = 1;
    - for (var x = 0; x < parseInt(commitCount); x += 15)
      if (page == yp - 1)
        li.active
          a(href='/' + reponame + '/commits/' + branch + '/' + (yp - 1))= yp++
      else
        li
          a(href='/' + reponame + '/commits/' + branch + '/' + (yp - 1))= yp++
